function paths = env_paths_tracking(varargin)
    paths.net_base = 'absolute path to your networks folder'; % e.g. '/home/luca/cfnet/networks/';
    paths.eval_set_base = 'absolute path to your datasets folder'; % e.g. '/home/luca/cfnet/data/';
    paths.stats = 'absolute location of ILSVRC2015 stats'; % e.g.'/home/luca/cfnet/data/ILSVRC2015.stats.mat';
    paths = vl_argparse(paths, varargin);
end
